.header{
    width: 100vw;
    height: 5vh;
    position: sticky;
    top: 0;
    z-index: 1000;
    background: transparent;
    box-shadow:  0 2px 5px gba(0, 0, 0, 0.2);
    padding: 0;  /* Asegúrate de que no haya relleno adicional */
    margin: 0;   /* Asegúrate de que no haya margen adicional */
}

.header.sticky {
  background: rgba(255, 255, 255, 0.9); /* Fondo semi-transparente */
}


section{

    width: 100vw;
    height: calc(100vh - 5vh);  /* Resto del espacio tras el header */
    overflow: hidden; /* Para evitar que el contenido se desborde */
}




#landing-page {
    background: url('/assets/img/dubai2.jpeg') no-repeat center center / cover;
    background-attachment: fixed;
    background-size: cover;
    margin-top: -5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    position: relative;
    overflow: hidden;
    padding: 20px;

    

  
    .landing-tittle {
      position: absolute;
      top: 10%;
      z-index: 2;
      font-size: 2rem;
      color: #fff;
      text-transform: uppercase;
      transition: opacity 0.5s ease-in-out;
  
      &.hidden {
        opacity: 0;
      }
  
      h1 {
        margin: 5px 0;
        font-weight: bold;
      }
    }
  
    #love-container {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      overflow: hidden;
      position: relative;
      transition: width 0.5s ease, height 0.5s ease;
  
      .love-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }
  
    .countdown {
      position: absolute;
      bottom: 10%;
      z-index: 2;
      font-size: 1.2rem;
      color: #fff;
      transition: opacity 0.5s ease-in-out;
  
      &.hidden {
        opacity: 0;
      }
    }
  }
  

#our-love-story{
    background-color: #fef7e0;
}
#when-where{
    background-color: #fef7e0;
    display: flex;
    flex-direction: row;
}

#rsvp-page{
    background-color: #fef7e0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#presents{
    background-color: #fef7e0;
}