<app-header class="header"></app-header>
<section id="landing-page">
    <div class="landing-tittle">
        <h1>IRENE & JORGE</h1>
        <h2>{{"NOS CASAMOS"| translate}} 28/06/25</h2>
    </div>
    <div class="countdown">
        <app-countdown></app-countdown>
        <button  id="save" [routerLink]="[]" fragment="rsvp-page">SAVE THE DATE</button>
    </div>
</section>

@if(contentLoaded()){
<section id="our-love-story">
    <div id="carrousel-container"> 
        <app-caurrosel></app-caurrosel>
    </div>
    <div id="ourLove-container">
        <h2>{{ "NUESTRA HISTORIA" | translate}}</h2>
        <p>{{ "LA HISTORIA"| translate}}</p>
    </div>
 
</section>
   
    <section id="when-where">
        <div id="whenInfo-container">
          <h2 id="lugar-h2">{{ "LUGAR" | translate }}</h2>
          <p>{{ "NOS CASAMOS..." | translate }}</p>
          <app-google-maps id="maps"></app-google-maps>
        </div>

            <div class="map-container" >
                <h2>{{ "COMO LLEGAR" | translate }}</h2>
                <div class="divider"> </div>
                    <h2>{{ "EN COCHE" | translate }}</h2>
                    <p>{{ "PARQUING" | translate }}</p>
                    <h2>{{ "EN AUTOBUS" | translate }}</h2>
                    <p>{{ "SERVICIO BUS" | translate }}</p>
                    <h2>TAXI:</h2>
                    <p>{{"TAXI"| translate}}</p>
                    <h2>{{ "ALOJAMIENTO" | translate }}</h2>
                    <p>{{ "RECOMENDACION" | translate }}</p>
                    <p id="catalonia">•⁠ ⁠HOTEL CATALONIA GRAN HOTEL VERDI**
                      verdi.recepcion&#64;cataloniahotels.com --
                      Av. Francesc Macià, 62 08208 Sabadell (Barcelona)
                    </p>
               
            </div>  

      </section>
      



<section id="rsvp-page">
    <h2>{{ "CONFIRMA TU ASISTENCIA" | translate}}</h2>
    <app-rsvp-form></app-rsvp-form>
</section>
<section id="presents">
<h2>{{ "REGALO" | translate}}</h2>
<p>{{ "FERRARI" | translate}}</p>
</section>}