.header{
    width: 100vw;
    height: 5vh;
    position: sticky;
    top: 0;
    z-index: 1000;

}

section{
    width: 100vw;
    height: 95vh;
}

#landing-page{
    background-color: black;
}

#our-love-story{
    background-color: #fef7e0;
}
#when-where{
    background-color: #fef7e0;
    display: flex;
    flex-direction: row;
}

#rsvp-page{
    background-color: #fef7e0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#presents{
    background-color: #fef7e0;
}