.header{
    width: 100vw;
    height: 5vh;
    position: sticky;
    top: 0;
    z-index: 1000;

}

section{
    width: 100vw;
    height: 95vh;
}



#landing-page {
    background-color: #142f30;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    position: relative;
    overflow: hidden;
    padding: 20px;
  
    .tittle {
      position: absolute;
      top: 10%;
      z-index: 2;
      font-size: 2rem;
      color: #fff;
      text-transform: uppercase;
      transition: opacity 0.5s ease-in-out;
  
      &.hidden {
        opacity: 0;
      }
  
      h1 {
        margin: 5px 0;
        font-weight: bold;
      }
    }
  
    #love-container {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      overflow: hidden;
      position: relative;
      transition: width 0.5s ease, height 0.5s ease;
  
      .love-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }
  
    .countdown {
      position: absolute;
      bottom: 10%;
      z-index: 2;
      font-size: 1.5rem;
      color: #fff;
      transition: opacity 0.5s ease-in-out;
  
      &.hidden {
        opacity: 0;
      }
    }
  }
  

#our-love-story{
    background-color: #fef7e0;
}
#when-where{
    background-color: #fef7e0;
    display: flex;
    flex-direction: row;
}

#rsvp-page{
    background-color: #fef7e0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#presents{
    background-color: #fef7e0;
}