
<section id="rsvpForm">
    <form [formGroup]="rsvpForm" (ngSubmit)="sendRsvp($event)">
        <div class="formInput">
            <label>{{"NOMBRE Y APELLIDO"| translate}}</label>
            <input type="text" formControlName="nombre" >
        </div>
    
        <div class="formInput">
            <label>*{{"PAREJA"| translate}}</label>
            <input type="text" formControlName="nombrePareja">
        </div>
        <p>*{{"NOS ENCANTARÍA QUE TODOS NUESTROS SERES QUERIDOS ESTUVIERAN CON NOSOTROS EN ESTE DÍA TAN ESPECIAL, Y PARA ELLO, NUESTRAS INVITACIONES HAN SIDO CUIDADOSAMENTE PERSONALIZADAS CON EL NOMBRE DE CADA INVITADO. SI TIENES ALGUNA DUDA O PREGUNTA SOBRE TU INVITACIÓN, NO DUDES EN CONTACTARNOS."| translate }}
    <p>{{"¿SOYS MÁS DE DOS EN VUESTRA INVITACIÓN? ¡CONFIRMA AL RESTO DE LA FAMILIA O GRUPO!"| translate}}</p>
    <button type="button" (click)="showMoreInputs()">{{"AÑADIR MÁS INVITADOS" | translate}}</button>
    @if(showInputs){
        <div class="formInput">
            <label>{{"INVITADO"| translate}}</label>
            <input type="text" formControlName="invitado1">
        </div>
        <div class="formInput">
            <label>{{"INVITADO"| translate}}</label>
            <input type="text" formControlName="invitado2">
        </div>
    
    }
    
        <!-- <div class="select">
            <label>{{"¿DE QUIEN VIENES TU?"| translate}}</label>
            <select formControlName="vienePor">
                <option value="novia">{{"NOVIA"| translate}}</option>
                <option value="novio">{{"NOVIO"| translate}}</option>
                <option value="ambos">{{"AMBOS"| translate}}</option>
            </select>
              </div>
     -->
      
        <div class="select">
            <label>{{"¿CONFIRMAS ASISTENCIA?"| translate}}</label>
            <select formControlName="confirmacion">
                <option value="Si">{{"SI"| translate}}</option>
                <option value="No">{{"NO"| translate}}</option>
                <!-- <option value="no_se">{{"AUN LO NO SE"| translate}}</option> -->
            </select>
        </div>
        <div class="select">
            <label>{{"¿NECESITAS TRANSPORTE PARA LLEGAR?"| translate}}</label>
            <select formControlName="bus">
                <option value="Si">{{"SI"| translate}}</option>
                <option value="No">{{"NO"| translate}}</option>
            </select>
           
        </div>
        <div class="select">
            <label>{{"REQUISITOS ALIMENTICIOS"| translate}}</label>
            <select formControlName="alimentacion">
                <option value="ninguno">{{"NINGUNO" | translate}}</option>
                <option value="vegetariano">{{"VEGETARIANO"| translate}}</option>
                <option value="vegano">{{"VEGANO"| translate}}</option>
                <option value="gluten">{{"GLUTEN"| translate}}</option>
                <option value="pescetario">{{"PESCETARIO"| translate}}</option>
                <option value="otros">{{"OTROS"| translate}}</option>
            </select>
    
            <textarea formControlName="comentariosAlimentacion" placeholder="Comentarios adicionales"></textarea>
        </div>
    
        <!-- <div class="select">
            <label>{{ "ESTAS SOLTERO" | translate}}</label>
           <select formControlName="soltero">
            <option value="siSoltero">{{"ESPERANDO A CUPIDO" | translate}}</option>
            <option value="noSoltero">{{"NO" | translate}}</option>
           </select>
    
         </div>
         @if(rsvpForm.get('soltero')?.value === 'si'){
         <div>
             <label>{{"ADJUNTAR FOTO TINDER" | translate}}</label>
             <input type="file" (change)="onfileChange($event)">
             <p>{{"PS. SOLO PODREMOS JUGAR A ESTO SI SUFICIENTES SOLTER@S SE ATREVEN" | translate}}</p>
         </div>
         } -->
        <div class="formInput">
            <label>{{"¿QUIERES MANDARNOS ALGUNA CANCION PARA LA FIESTA?"| translate}}</label>
            <input type="text" formControlName="cancion">
        </div>
        <div class="formInput">
            <label>{{"¿ALGO QUE COMENTARNOS?"| translate}}</label>
            <input type="text" formControlName="comentario">
        </div>
    <div class="formInput">
    <label>{{"¿QUIERES RECIBIR COPIA DE LA CONFIRMACIÓN POR EMAIL?" | translate}}</label>
    <input type="text" formControlName="mail" id="">
    </div>
    
        <button type="submit" [disabled]="rsvpForm.invalid">{{"ENVIAR CONFIRMACIÓN"| translate}}</button>
    </form>
