@font-face {
  font-family: 'WorkSans-Bold';
  src: url('/assets/fonts/WorkSans-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'WorkSans-Regular';
  src: url('/assets/fonts/WorkSans-Regular.otf') format('opentype');
}

/* Fuente para todo el formulario */
#rsvpForm,
#rsvpForm label,
#rsvpForm input,
#rsvpForm textarea,
#rsvpForm select,
#rsvpForm p,
#rsvpForm button,
#rsvpForm .rsvp-title {
  font-family: 'WorkSans-Regular', sans-serif;
}

/* Estilos generales del formulario */
#rsvpForm {
  background-color: #fef4d1;
  width: 45vw;
  padding: 1.5vw;
  border: solid 0.5px #142f30;
  border-radius: 4%;
  margin: 2vw auto;
  font-size: 0.85rem;
  overflow: hidden;
}

.rsvp-title {
  font-family: 'Bellefair-Regular';
  font-size: 1.8rem;
  text-align: center;
  margin: 1rem 0;
}

.formInput {
  margin-bottom: 0.8vh;
}

.formInput label {
  font-weight: bold;
  font-size: 0.95rem;
  margin-bottom: 0.2rem;
  display: block;
}

input,
textarea,
select {
  width: 100%;
  margin: 0.5vh 0;
  background-color: #fef7e0;
  border: solid 0.5px #142f30;
  padding: 0.6rem;
  font-size: 0.85rem;
}

/* P치rrafos de informaci칩n */
p {
  text-align: justify;
  text-justify: inter-word;
  font-size: 0.85rem;
  margin: 0.5rem 0;
}

/* Estilo del bot칩n */
button {
  font-size: 0.95rem;
  padding: 6px 10px;
  border: 2px solid black;
  background-color: transparent;
  cursor: pointer;
  transition: background 0.3s ease;
  font-weight: bold;
  margin: 1rem 0 0.5rem 0;
}

button:hover {
  background: black;
  color: white;
}

/* Responsive para m칩viles */
@media (max-width: 768px) {
  #rsvpForm {
    width: 90vw;
    padding: 4vw;
    font-size: 0.8rem;
  }

  .formInput label {
    font-size: 0.85rem;
  }

  input,
  textarea,
  select {
    width: 100%;
    font-size: 0.8rem;
    padding: 0.5rem;
  }

  p {
    font-size: 0.8rem;
  }

  button {
    font-size: 0.85rem;
    padding: 5px 8px;
    margin-bottom: 0.5rem;
  }

  .rsvp-title {
    font-size: 1.5rem;
  }
}
