<p>countdown works!</p>
<section class="countdown">
    <div class="time-display">
        <div class="countdown-unit">
            <span>{{remainingTime.months}}</span>
            <span>{{"MESES" | translate}}</span>
        </div>
        <div class="countdown-unit">
            <span>{{remainingTime.months}}</span>
            <span>{{"SEMANAS" | translate}}</span>
        </div>
        <div class="countdown-unit">
            <span>{{remainingTime.weeks}}</span>
            <span>{{"DIAS" | translate}}</span>
        </div>
        <div class="countdown-unit">
            <span>{{remainingTime.days}}</span>
            <span>{{"HORAS" | translate}}</span>
        </div>
        <div class="countdown-unit">
            <span>{{remainingTime.hours}}</span>
            <span>{{"MINUTOS" | translate}}</span>
        </div>
        <div class="countdown-unit">
            <span>{{remainingTime.seconds}}</span>
            <span>{{"SEGUNDOS" | translate}}</span>
        </div>
    </div>

</section>