@keyframes pulse {
    0%, 100% {
        transform: scale(1); /* Tamaño normal */
    }
    50% {
        transform: scale(1.2); /* Crece un 20% */
    }
}

.countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 10px;
}

.time-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.countdown-unit {
    width: 15vw;
    max-width: 100px;
    height: 15vw;
    max-height: 100px;
    border-radius: 50%;
    background-color: rgba(241, 78, 149, 0.7);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial, sans-serif;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;

    /* Animación de crecimiento sincronizado */
    animation: pulse 1.5s infinite ease-in-out;
}

.countdown-unit span:first-child {
    font-size: 1.8rem; /* Tamaño del número */
}

@media (max-width: 768px) {
    .countdown {
        width: 90vw;
        padding: 5px;
    }

    .time-display {
        gap: 5px; /* Menos espacio entre elementos */
    }

    .countdown-unit {
        width: 18vw;
        height: 18vw;
        max-width: 80px;
        max-height: 80px;
        font-size: 1rem; /* Reducir tamaño de fuente */
    }

    .countdown-unit span:first-child {
        font-size: 1.4rem;
    }
}
