<section class="countdown">
    <div class="time-display">
      <div class="countdown-unit">
        <span>{{remainingTime.months}}</span>
        <span>{{"MESES" | translate}}</span>
      </div>
      <div class="countdown-unit">
        <span>{{remainingTime.days}}</span>
        <span>{{"DIAS" | translate}}</span>
      </div>
      <div class="countdown-unit">
        <span>{{remainingTime.hours}}</span>
        <span>{{"HORAS" | translate}}</span>
      </div>
      <div class="countdown-unit">
        <span>{{remainingTime.minutes}}</span>
        <span>{{"MINUTOS" | translate}}</span>
      </div>
      <div class="countdown-unit">
        <span>{{remainingTime.seconds}}</span>
        <span>{{"SEGUNDOS" | translate}}</span>
      </div>
    </div>
  </section>
  